html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  --secondary: rgb(214, 214, 214);
  --secondary-hover: rgb(226, 226, 226);
  background-color: rgb(191, 191, 191);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.row-box {
  display: flex;
  flex-direction: row;
}

.toolbar {
  display: flex;
  flex-direction: row;
}

.toolbar button {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
  height: 30px;
  min-width: 50px;
  border-radius: 0;
  transition: all 0.5s;
}

.toolbar button:last-child {
  border-bottom-right-radius: 4px;
}

.activated {
  background-color: var(--secondary-hover) !important;
  border-color: var(--secondary-hover) !important;
}

.column {
  flex: 1 1 50%;
  height: 90vh;
  margin: 0.5rem;
  max-width: 50vw;
}

.grey-background {
  background-color: var(--secondary);
  border-radius: 4px;
}

.row-box button {
  width: 90%;
  max-width: 200px;
  margin: 1rem auto 0 auto;
  height: 40px;
}
#save:hover {
  background-color: rgb(224, 224, 224);
}

button {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
  cursor: pointer;
  min-height: 30px;
  border-radius: 4px;
}

button svg {
  max-height: 100%;
  fill: rgb(33, 33, 33);
}

button:hover {
  border-color: var(--secondary-hover);
  background-color: var(--secondary-hover);
}
